{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>检查点检查点</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/css/bootstrap.min.css?v=78e7f91c0c?v=3.3.6" rel="stylesheet">
    <link href="/static/css/plugins/bootstrap-table/bootstrap-table.min.css?v=8a861bfab9" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css?v=269550530c?v=4.4.0" rel="stylesheet">

    <link href="/static/css/animate.min.css?v=393d1040f9" rel="stylesheet">
    <link href="/static/css/style.css?v=45c8f40c86?v=4.1.0" rel="stylesheet"> <!-- style.min.css有问题：对话框无法在顶端显示 -->

    <link href="/static/js/plugins/scrollUp/css/themes/image.css?v=a70fca85fd" rel="stylesheet">
    <link rel="stylesheet" href="/static/module/jquery-ui-1.12.1/jquery-ui.min.css?v=0b5729a931">
    <script type="text/javascript" src="/static/js/common.js?v=21dd70c21f" charset="utf-8"></script>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <section id="realtime_errlog_list"></section>
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="col-sm-12" style="padding-left: 0px">
                        <input type="hidden" id="testcaseId" value="{{ testcaseId }}"/>
                        <label>
                            <button onclick="reloadDatagrid();" style="margin-left:10px" id="btn_query"
                                    class="btn btn-info"><i class="fa fa-search"></i> 查询
                            </button>
                        </label>
                        <label>
                            <button onclick="addCheckpoint();" data-toggle="modal" data-target="#detailDlg"
                                    style="margin-left:10px" id="btn_add" class="btn btn-primary"> 新增
                            </button>
                        </label>
                    </div>

                    <table id="checkpoint_table" style="word-break:break-all;">
                        <thead>
                        <tr>
                            <th data-field="check_type_str" data-width="10%" data-align="center">检查类型</th>
                            <th data-field="check_param" data-width="20%">参数</th>
                            <th data-field="operate" data-width="10%" data-align="center">匹配规则</th>
                            <th data-field="expect_value" data-width="20%">值</th>
{#                            <th data-field="updater" data-width="10%" data-align="center">修改人</th>#}
                            <th data-field="update_time" data-width="20%" data-align="center">修改时间</th>
                            <th data-field="action" data-width="15%" data-align="center" data-formatter="showAction">
                                操作
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="detailDlg" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">编辑检查点</h4>
            </div>
            <div class="modal-body">
                <form id="editFrom" method="get" action="">
                    <input type="hidden" id="id"/>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th width="30%">匹配规则：</th>
                            <td>
                                <select id="check_type" name="check_type" class="form-control" readonly="readonly"
                                        onchange="selectCheckType();">
                                    <option value="json">Json校验</option>
{#                                    <option value="whole">完全匹配</option>#}
{#                                    <option value="fuzzy">模糊匹配</option>#}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" id="check_param" name="check_param" class="form-control"
                                       placeholder="请输入检查的JSON字段或匹配的文本" required>
                            </td>
                        </tr>
                        <tr id="json_row">
                            <td>
                                <select id="operate" name="operate" class="form-control">
                                    <option value="==">等于 [ == ]</option>
                                    <option value="!=">不等于 [ != ]</option>
                                    <option value=">">大于 [ > ]</option>
                                    <option value="<">小于 [ < ]</option>
{#                                    <option value="Reg=">正则 [ Reg= ]</option>#}
                                </select>
                            </td>
                            <td>
                                <input type="text" id="expect_value" name="expect_value" class="form-control"
                                   placeholder="请输入预期值">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button id="saveBtn" type="submit" class="btn btn-primary" onclick="saveCheckpoint()">保存</button>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery.min.js?v=f9c7afd057?v=2.1.4"></script>
<script src="/static/js/bootstrap.min.js?v=281cd50dd9?v=3.3.6"></script>
<script src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js?v=eeb5b97857"></script>
<script src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=c8f1530c22"></script>
<script src="/static/js/plugins/validate/jquery.validate.min.js?v=346e6b069a"></script>
<script src="/static/js/plugins/validate/messages_zh.js?v=6af228ebea"></script>
<script src="/static/js/plugins/scrollUp/jquery.scrollUp.min.js?v=63bbf26c1f"></script>
<script src="/static/module/jquery-ui-1.12.1/jquery-ui.min.js?v=c15b1008de"></script>
<script src="/static/js/jquery.cookie.js?v=20a0023596"></script>
<script type="text/javascript" src="/static/js/layer/layer.js?v=8962f047ee?version=20180525" charset="utf-8"></script>

<script language="javascript" type="text/javascript">
    var rowData = [];
    var $checkpoint_table = $('#checkpoint_table');

    $(function () {
        // 回到顶部链接
        $.scrollUp({
            animation: 'fade',
            scrollDistance: '0',
            activeOverlay: '#00FFFF',
            scrollImg: {
                active: true,
                type: 'background',
                src: '/static/js/plugins/scrollUp/img/top.png'
            }
        });

        setTimeout("init_table()", 500);
    })

    // 选择验证类型
    function selectCheckType() {
        var check_type = $('#check_type').val();
        switch (check_type) {
            case 'whole':
            case 'fuzzy':
                $('#json_row').hide();
                break;
            case 'json':
                $('#json_row').show();
                break;
            default:
                $('#json_row').hide();
                layer.msg('请选择验证类型');
        }
    }

    // 初始化表格
    function init_table() {
        $checkpoint_table.bootstrapTable({
            url: '/testcase/checkpoint/datagrid',
            striped: true,
            sortable: true,
            sortName: 'weight',
            sortOrder: 'desc',
            silentSort: false,
            pagination: true,
            pageSize: 10,
            sidePagination: "server", //表示服务端请求
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText: params.searchText,
                    testcaseId: $('#testcaseId').val(),
                };
                return param;
            },
        });
    }

    // 加载数据表格
    function reloadDatagrid() {
        var tableOptions = $checkpoint_table.bootstrapTable('getOptions');
        $checkpoint_table.bootstrapTable('showLoading');
        $.ajax({
            type: 'post',
            url: '/testcase/checkpoint/datagrid/',
            data: {
                pageNumber: tableOptions.pageNumber,
                pageSize: tableOptions.pageSize,
                testcaseId: $('#testcaseId').val(),
            },
            success: function (result) {
                $checkpoint_table.bootstrapTable('load', result);
                $checkpoint_table.bootstrapTable('hideLoading');
            }
        });
    }

    // 格式化操作按钮
    function showAction(value, row, index) {
        rowData[index] = row;
        var viewBtn = '<button title="详情" type="button" class="btn btn-outline btn-primary btn-xs" data-toggle="modal" data-target="#detailDlg" onclick="showDetail(' + index + ')"><i class="fa fa-table" aria-hidden="true"> </i></button>';
        var editBtn = '<button title="修改" type="button" class="btn btn-outline btn-warning btn-xs" data-toggle="modal" data-target="#detailDlg" onclick="editFun(' + index + ')"><i class="fa fa-pencil"> </i></button>';
        var removeBtn = '<button title="删除" type="button" class="btn btn-outline btn-danger btn-xs" onclick="removeCheckpoint(' + row.id + ')"><i class="fa fa-trash" aria-hidden="true"> </i></button>';
        return viewBtn + '&nbsp;' + editBtn + '&nbsp;' + removeBtn;
    }

    // 查看详情
    function showDetail(index) {
        $('#saveBtn').hide();
        $('#detailDlg h4').html('检查点详情');
        $('#detailDlg input').attr('readonly', 'readonly');

        var row = rowData[index];
        $('#id').val(row.id);
        $('#check_type').val(row.check_type);
        $('#check_param').val(row.check_param);
        $('#operate').val(row.operate);
        $('#expect_value').val(row.expect_value);

        if (row.check_type == 'json') {
            $('#json_row').show();
        } else {
            $('#json_row').hide();
        }
    }

    // 编辑检查点
    function editFun(index) {
        showDetail(index);
        $('#detailDlg h4').html('编辑检查点');
        $('#detailDlg input').removeAttr('readonly');
        $('#saveBtn').show();
    }

    // 删除检查点
    function removeCheckpoint(id) {
        if (id) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var url = '/testcase/checkpoint/remove/';
                var loading = layer.load();
                $.ajax({
                    type: 'post',
                    url: url,
                    data: {
                        "checkpointId": id,
                    },
                    dataType: 'json',
                    success: function (result) {
                        if (result.code == 0) {
                            layer.alert(result.message, {icon: 1});
                        } else {
                            layer.alert(result.message);
                        }
                        layer.close(loading);
                        reloadDatagrid();
                    }
                });
            }, function () {
                layer.msg('用户取消了操作', {
                    time: 3000
                });
            });

        } else {
            layer.msg('请选择一个检查点!')
        }
    }

    // 保存按钮操作
    function saveCheckpoint() {
        var form = $('#editFrom');
        form.validate();
        if (form.valid()) {
            var params = {
                "id": $('#id').val(),
                "testcaseId": $('#testcaseId').val(),
                "check_type": $('#check_type').val(),
                "check_param": $('#check_param').val(),
                "operate": $('#operate').val(),
                "expect_value": $('#expect_value').val(),
            };

            $.ajax({
                url: "/testcase/checkpoint/save/",
                type: "post",
                dataType: "json",
                data: params,
                async: true,
                beforeSend: function (xhr, setting) {
                },
                success: function (result) {
                    reloadDatagrid();

                    if (result.code == 0) {
                        $('#detailDlg').modal('hide');
                        layer.msg('保存成功.');
                    } else {
                        layer.alert(result.message, {icon: 2});
                    }
                },
                error: function () {
                    layer.alert('发生异常，请重试.', {icon: 2});
                }
            });
        }
    }

    // 新增检查点
    function addCheckpoint() {
        $('#detailDlg input').val('');
        $('#detailDlg h4').html('新增检查点');
        $('#detailDlg input').removeAttr('readonly');
        $('#saveBtn').show();
    }
</script>

</body>
</html>
