<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>接口自动化测试报告 Api Automation Test Report</title>
    <link href="/static/app/testreport/cucumber.css?v=67961f5c9e" rel="stylesheet">
    <script src="/static/js/jquery.min.js?v=f9c7afd057?v=2.1.4"></script>
    <script type="text/javascript" src="/static/js/extJquery.js?v=f1c0f8651b" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/layer/layer.js?v=8962f047ee" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/common.js?v=21dd70c21f" charset="utf-8"></script>
</head>
<body>
<div id="report" class="cucumber">
    <div id="cucumber-header">
        <div id="label"><h1>接口自动化测试报告</h1></div>
        <div id="summary">
            <p id="totals"><span id="total_testcase"></span> 个测试用例 (<span id="failed_count"></span> 个失败)</p>
            <p id="totals"><strong>测试通过率: <span id="passrate"></span></strong></p>
            <p><strong>持续时间 <span id="duration"></span></strong></p>
            <p>&nbsp;</p>
            <div id="expand-collapse"><p id="expander" style="text-decoration: underline;">全部展开</p>
                <p id="collapser" style="text-decoration: underline;">全部折叠</p></div>
        </div>
    </div>
    <br/>
    {#    <h4 style="margin-left: 15px;">执行开始时间: <span id="testplan_start_time"></span></h4>#}
    <h2 style="margin-left: 15px;">测试报告摘要</h2>
    <div id="summary_table">
        <table border=1 width=98% cellpadding=0 cellspacing=0 align=center bgcolor=blue>
            <tr>
                <th width=10% align=center><strong>业务线</strong></th>
                <th width=25% align=center><strong>测试计划</strong></th>
                <th width=20% align=center><strong>描述</strong></th>
                <th width=8% align=center><strong>测试用例数</strong></th>
                <th width=8% align=center><strong>通过率</strong></th>
                <th width=5% align=center><strong>运行环境</strong></th>
                <th width=12% align=center><strong>开始时间</strong></th>
                <th width=12% align=center><strong>完成时间</strong></th>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    function htmlEscape(s) {
        return (s + '').replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/'/g, '&#039;')
            .replace(/"/g, '&quot;')
            .replace(/\n/g, '<br />');
    }


    $('#cucumber-header').css("height", "8em");

    SCENARIOS = "h3[id^='testcase_']";
    var loading = layer.load();
    $(function () {
        layer.config({
            extend: 'extend/layer.ext.js'
        });
        makeGrey('cucumber-header');
        loadSummary();
    });


    function moveProgressBar(percentDone) {
        $("cucumber-header").css('width', percentDone + "%");
    }

    function makeRed(element_id) {
        $('#' + element_id).css('background', '#C40D0D');
        $('#' + element_id).css('color', '#FFFFFF');
    }

    function makeYellow(element_id) {
        $('#' + element_id).css('background', '#FAF834');
        $('#' + element_id).css('color', '#000000');
    }

    function makeGrey(element_id) {
        $('#' + element_id).css('background', '#D3D3D3');
        $('#' + element_id).css('color', '#000000');
    }

    function makeGreen(element_id) {
        $('#' + element_id).css('background', '#478f00');
        $('#' + element_id).css('color', '#FFFFFF');
    }

    function setGlobalStyle() {
        // 默认折叠全部
        $(SCENARIOS).siblings().hide();
        // 设置样式和事件
        $(SCENARIOS).css('cursor', 'pointer');
        $(SCENARIOS).click(function () {
            $(this).siblings().toggle(250);
        });

        $("#collapser").css('cursor', 'pointer');
        $("#collapser").click(function () {
            $(SCENARIOS).siblings().hide();
        });

        $("#expander").css('cursor', 'pointer');
        $("#expander").click(function () {
            $(SCENARIOS).siblings().show();
        });
    }

    // 加载报告摘要
    function loadSummary() {
        $.ajax({
            type: 'post',
            url: '/testcase/report/testplanSummary/',
            data: {
                testplanId: "{{ testplanId }}",
            },
            success: function (result) {
                var testplan = {};
                var tr_str = '';
                var total_testcase = 0;
                var failed_count = 0;
                var duration = 0;

                for (var i in result['rows']) {
                    var testplan = result['rows'][i];
                    tr_str += $.formatString('<tr value="{0}"><td>{1}</td><td><a href="#testplan_{2}">{3}</a></td><td>{4}</td><td>{5}</td><td>{6}</td>' +
                        '<td>{7}</td><td>{8}</td><td>{9}</td></tr>', testplan.success_rate.replace('%', ''), testplan.bu_name,
                        testplan.id, testplan.name, testplan.desc, testplan.count, testplan.success_rate, testplan.env,
                        testplan.actual_start_time, testplan.actual_end_time);

                    // 详情HTML
                    var detail_div = $.formatString('<div id="testplan_{0}" class="feature"><pre class="comment"> <br/></pre>' +
                        '<h2><span class="val">测试计划: {1}</span></h2><div>', testplan.id, testplan.name);

                    $('#report').append(detail_div);
                    loadDetails(testplan.id);

                    // 计算累计值
                    total_testcase += testplan.count;
                    failed_count += testplan.failed_count;
                    duration += parseFloat(testplan.duration);
                }
                // 底部文档
                var foot_div = '<div id="summary"><span>报告生成时间：{{ reportTime }}<br>数据来源：<a target="_blank" href="http://gears.dugang.vip/">Gears</a>. </span></div>';
                $('#report').append(foot_div);
                $('#summary_table table').html($('#summary_table table').html() + tr_str);
                setSummaryStyle();
                setGlobalStyle();
                layer.close(loading);

                // 设置标题栏
                var success_rate = ((total_testcase - failed_count) * 100.0 / total_testcase).toFixed(2);
                $('#duration').html(duration + ' 秒');
                $('#total_testcase').html(total_testcase);
                $('#failed_count').html(failed_count);
                $('#passrate').html(success_rate + '%');

                var value = parseFloat(success_rate);
                if (value == 100.0) {
                    makeGreen('cucumber-header');
                } else if (value >= 80.0 && value < 100.0) {
                    makeYellow('cucumber-header');
                } else {
                    makeRed('cucumber-header');
                }
            }
        });
    }


    // 设置汇总表格的样式
    function setSummaryStyle() {
        $("th").css("background-color", "#CCFFFF");
        $("th").css("font-size", "14px");
        $("td").css("text-align", "center");
        $("tr").each(function () {
            var trObj = +($(this).attr("value"));
            if (!isNaN(trObj)) {
                if (trObj == 100.0) {
                    $(this).find("td").each(function () {
                        $(this).css("background-color", "#3bd82a");
                    });
                } else if (trObj >= 80.0 && trObj < 100.0) {
                    $(this).find("td").each(function () {
                        $(this).css("background-color", "#FAF834");
                    });
                } else {
                    $(this).find("td").each(function () {
                        $(this).css("background-color", "#C40D0D");
                        $(this).css("color", "#FFFFFF");
                    });
                }
            }
        });
    };

    // 加载测试用例执行详情
    function loadDetails(testplan_id) {
        $.ajax({
            type: 'post',
            url: '/testcase/report/testExecutionList/',
            async: false,
            data: {
                testplanId: testplan_id,
            },
            success: function (result) {
                for (var i in result['rows']) {
                    var details = '';
                    var execution = result['rows'][i];
                    var response_data = execution.response_data;
                    var diff = execution.diff;
                    var request_data = execution.request_data;
                    try {
                        response_data = $.trim(formatJson(response_data));
                    } catch (err) {
                        // 非json数据需要html转义
                        response_data = htmlEscape(response_data);
                    }
                    try {
                        diff = $.trim(formatJson(execution.diff));
                    } catch (err) {
                    }
                    try {
                        request_data = $.trim(formatJson(request_data));
                    } catch (err) {
                    }
                    details += $.formatString('<div class="scenario"><h3 id="testcase_{0}"><span class="keyword">测试用例:</span>' +
                        '<span class="val">{1}</span><span style="float:right">{2}</span></h3>' +
                        '<ol>', execution.id, execution.api_name, execution.result);
                    // 接口信息
                    details += $.formatString('<li class="step passed"><div class="step_name"><span class="keyword">请求URL：</span>' +
                        '<span class="step val">{0}</span></div><div class="step_file"><span>{1}&nbsp;</span></div></li>',
                        execution.server_ip + execution.api_name, execution.method);
                    //入参
                    details += $.formatString('<li class="step passed"><div class="step_name"><span class="keyword">入参：</span>' +
                        '<span class="step val"> </span></div><div class="step_file"><span>&nbsp;</span></div>' +
                        '<pre class="ruby"><code id="request_data">{0}</code></pre></li>', request_data);
                    //返回值、报错信息等
                    details += $.formatString('<li id="response_{0}" class="step"><div class="step_name"><span class="keyword">实际返回值：</span>' +
                        '<span class="step val"> </span></div><div class="step_file"><span>HTTP状态码: {1}&nbsp;</span></div>' +
                        '<pre class="ruby"><code id="response_data">{2}</code></pre>',
                        execution.id, execution.status_code, response_data);
                    if (execution.result == 'fail') {
                        details += $.formatString('<div class="message" id="message"><pre><b>报错信息：</b><br/>{0}</pre></div></li>', execution.message);
                    }
                    //返回值差异比对
                    details += $.formatString('<li id="response_data" class="step passed"><div class="step_name"><span class="keyword">返回值差异：</span>' +
                        '<span class="step val"></span></div><div class="step_file"><span>仅供参考&nbsp;</span></div>' +
                        '<pre class="ruby"><code id="diff">{0}</code></pre></li>', diff);
                    //执行时间
                    details += $.formatString('</ol><div class="senario_run_time">客户端IP: {0}</div>' +
                        '<div class="senario_time_stamp">执行时间: {1}</div></div><br/></div>',
                        execution.client_ip, execution.execute_time);
                    $('#testplan_' + testplan_id).append(details);
                    var testcase_obj = 'testcase_' + execution.id;
                    var step_obj = '#response_' + execution.id;
                    if (execution.result == 'success') {
                        makeGreen(testcase_obj);
                        $(step_obj).addClass("passed");
                    } else {
                        makeRed(testcase_obj);
                        $(step_obj).addClass("failed");
                    }
                }

            }
        });
    }

</script>

</body>
</html>