<script src="/static/js/jquery-2.1.1.js?v=6631a77932"></script>
<script src="/static/js/bootstrap.min.js?v=281cd50dd9"></script>
<script src="/static/js/base.js?v=dd65dd2aac"></script>

<!-- pop windows -->
<script src="/static/js/jquery.colorbox.js?v=362a074551"></script>

<!-- validator js -->
<script src="/static/js/validator/jquery.validator.js?v=a57d39f7cf"></script>
<script src="/static/js/validator/zh_CN.js?v=364f129752"></script>
<script src="/static/js/datapicker/bootstrap-datepicker.js?v=2b28bee684"></script>

<!-- 标签页JS -->
<script src="/static/js/contabs.min.js?v=30f6b42333"></script>


